.room-details-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.nz-form-item {
    margin-bottom: 20px;
}

.nz-form-control input[nz-input] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

button[nz-button] {
    margin-right: 10px;
    padding: 3px 20px;
    font-size: 1rem;
    border-radius: 4px;
}

button[nz-button][nzType="primary"] {
    background-color: #1890ff;
    color: #fff;
    border: none;
}

button[nz-button][nzType="primary"]:hover {
    background-color: #40a9ff;
}

button[nz-button][nzType="default"] {
    background-color: #450be5;
    color: white;
    border: none;
}

button[nz-button][nzType="default"]:hover {
    background-color: #e0e0e0;
    color: #40a9ff;
}
