<div class="center-form">
  <div class="room-container">
    <div class="room-row" *ngFor="let room of rooms">
      <nz-card style="width: 300px; margin: 16px" [nzActions]="[actionEdit]">
        <nz-skeleton
          [nzActive]="true"
          [nzLoading]="loading"
          [nzAvatar]="{ size: 'large' }"
        >
          <nz-card-meta
            [nzAvatar]="avatarTemplate"
            nzTitle="{{room.name}}"
            nzDescription="type: {{ room.type }}"
          ></nz-card-meta>
          <nz-card-meta
            style="margin-left: 49px"
            nzDescription="price:{{ room.price }}"
          ></nz-card-meta>
        </nz-skeleton>
      </nz-card>

      <!-- Avatar Template -->
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="  "></nz-avatar>
      </ng-template>

      <!-- Edit Action Template -->
      <ng-template #actionEdit>
        <span
          nz-icon
        
          [nzTheme]="'twotone'"
          class="icon check-square"
          (click)="showModelMiddle(room.id)"
        >Book Room</span>
      </ng-template>
    </div>
  </div>
  <div class="pagination">
    <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="total" [nzPageSize]="1" (nzPageIndexChange)="pageIndexChange($event)">
    </nz-pagination>
  </div>
</div>

<nz-modal nzTitle="Book Room" nzCentered [(nzVisible)]="isVisibleMiddle" (nzOnCancel)="handleCancelMiddle()" (nzOnOk)="handleOkMiddle()">
  <ng-container *nzModalContent>
    <div class="modal-content">
      <nz-range-picker style="width: 100%;" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
    </div>
  </ng-container>
</nz-modal>
